body{
  font-size: calc(10px + 2vmin);
  color: grey;
	background: linear-gradient(-45deg, #AE9CD6,#8BB9D4,#A6CFA1,#DAD6A1,#E1B298,#E59CA0);
	background-size: 400% 400%;
	animation: gradient 30s linear infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 100%
	}
  100% {
		background-position: 0% 0%
	}
}

.App {
  text-align: center;
}
.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App-container>.App-header{
  top:0;
  left:0;
  position: fixed;
  width: 100%;
}
