
/* @keyframes timeshadow{
    0%{text-shadow: .1em .1em black;}
    25%{text-shadow: .1em -.1em black;}
    50%{text-shadow: -.1em -.1em black;}
    75%{text-shadow: -.1em .1em black;}
    100%{text-shadow: .1em .1em black;}
} */